MODEL_PATH=./epi-shield-v2.eim
GPIO_PIN=17
CAMERA_ID=0
TARGET_LABEL=vest
CONFIDENCE_THRESHOLD=0.85
OPEN_DURATION=3.0

# Calibragem do Servo Motor (valores permitidos: -1.0 a 1.0)
SERVO_OPEN_VALUE=1.0
SERVO_CLOSE_VALUE=-1.0